torch==2.1.2
transformers==4.39.2
datasets>=2.14.3
accelerate>=0.27.2
peft==0.10.0
trl==0.8.1
deepspeed==0.14.0
vllm==0.4.0
bitsandbytes==0.43.0
gradio>4.0.0,<=4.21.0
tensorboardX
scipy
einops
sentencepiece
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib
fire
galore-torch
errant==3.0.0
en-core-web-sm
ltp
OpenCC==1.1.6
python-Levenshtein
pypinyin
tqdm
flash-attn==2.5.8